* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* header */
.header {
  height: 64px;
}

.logo img {
  margin-top: 28px;
  margin-left: 20px;
}

.menu {
  float: right;
  margin-top: -17px;
}

.menu li {
  display: inline-block;
  margin-right: 25px;
  cursor: pointer;
}


/* main image */
.main-image {
  height: 600px;
  background-image: url('images/moment-4-promotional-hero-2560x1440.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
}

.main-title {
  color: #fff;
  padding: 80px 50px 0;
}

.main-title h1 {
  margin-top: 15px;
  margin-bottom: 25px;
  font-family: 'Unica One', cursive;
  font-size: 64px;
}

.main-more {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.main-more:hover {
  color: #555;
}


/* intro */
.intro {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  text-align: center;
  font-size: 32px;
}

.intro h4 {
  margin-bottom: 20px;
}

.intro p {
  color: #707070;
}


/* model */
.model h4 {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.model-container::after {
  content: "";
  display: block;
  clear: both;
}

.card {
  float: left;
  width: 50%;
  padding: 30px;
}

.card .card-img {
  height: 420px;
}

.card1 .card-img {
  background-image: url('images/s90-recharge-desktop-4x3.jpg');
  background-position: center;
  background-size: cover;
}

.card2 .card-img {
  background-image: url('images/xc90-recharge-desktop-4x3.jpg');
  background-position: center;
  background-size: cover;
}

.card-img p {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.card .model-name {
  padding-top: 50px;
}

.card .model-title {
  font-family: 'Unica One', cursive;
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-more {
  margin-top: 30px;
  text-align: center;
}

.card-more a {
  display: inline-block;
  font-size: 14px;
  color: #3c6eb4;
  text-decoration: none;
}

.card-more a:hover {
  color: #555;
}

.card-more a:not(:last-child) {
  padding-right: 35px;
}


/* reason */
.reason {
  margin-top: 100px;
  padding: 30px;
  background: #fafafa;
}

.reason h4 {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 28px;
}

.reason-img {
  background-image: url('images/homepage-whyvolvo-desktop-16x9.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
}

.reason-container {
  margin-top: 20px;
}

.reason-section {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.reason-section h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.reason-section p {
  font-weight: 300;
  line-height: 1.5em;
}

.reason-container::after {
  content: "";
  display: block;
  clear: both;
}

.reason .btn-more {
  display: block;
  margin: 30px auto 70px;
  padding: 15px 30px;
  border: 1px solid #3c6eb4;
  border-radius: 5px;
  color: #3c6eb4;
  background-color: #fff;
  cursor: pointer;
}

.reason .btn-more:hover {
  color: #fff;
  background-color: #3c6eb4;
}


/* link */
.links {
  padding: 30px;
  text-align: center;
}

.links h4 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: 400;
}

.link-list {
  width: 700px;
  margin: auto;
  margin-bottom: 80px;
}

.link-list li {
  width: 280px;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
  text-align: left;
  position: relative;
}

.link-list li:nth-child(odd) {
  margin-right: 50px;
}

.link-list li:first-child,
.link-list li:nth-child(2) {
  border-top: 1px solid #ebebeb;
}

.link-list li a {
  color: #3c6eb4;
  text-decoration: none;
}

.link-list li a:hover {
  color: #555;
}

.link-list li span {
  position: absolute;
  right: 20px;
}


/* footer */
.footer {
  background: #fafafa;
  padding: 30px;
  text-align: center;
  font-size: 12px;
  color: #141414;
}

.footer-site li {
  display: inline-block;
}

.footer-site li:not(:last-child) {
  margin-right: 25px;
}

.footer-site li a {
  color: #141414;
  text-decoration: none;
}

.footer-site li a:hover {
  color: #3c6eb4;
}

.footer p {
  margin-top: 10px;
}


@media only screen and (max-width : 992px) {
  /* main image */
  .main-more {
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translateX(-50%);
    color: #3c6eb4;
  }

  .main-more:hover {
    color: #000;
  }


  /* intro */
  .intro {
    margin-top: 200px;
  }


  /* model */
  .card {
    float: none;
    width: 100%;
  }

  .card .card-img {
    height: 620px;
  }


  /* reason */
  .reason-img {
    height: 300px;
  }


  /* link */
  .link-list li {
    display: block;
    width: 100%;
  }

  .link-list li:nth-child(2) {
    border-top: none;
  }
}