@font-face {
  font-family: 'nanumSquare';
  src: url(source/fonts/NanumSquareRegular.ttf);
}

body {
  font-family: nanumSquare, sans-serif;
}


/* ability */
.ability {
  width: 120px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  border: none;
}

.ability i {
  width: 100px;
  height: 100px;
  padding-top: 25px;
  border-radius: 50%;
  background: #fafafa;
  font-size: 50px;
  transition: transform 0.5s;
}

.ability p {
  margin-top: 30px;
  margin-bottom: 0;
}

.badge-more {
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* footer */
footer {
  height: 150px;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.footer-container {
  display: inline-block;
  vertical-align: middle;
}

footer .icon {
  padding: 0;
}

footer .icon li {
  display: inline-block;
}

footer .icon li:not(:last-child) {
  margin-right: 20px;
}

footer .icon-link {
  color: black;
}

footer .icon-link:hover {
  color: grey;
}

footer p {
  font-size: 12px;
  margin-bottom: 0;
}